body{
/*background-color: #d8d0d0;*/

}



header{
	margin: 40px 0 50px ;
}

.menu{

	background: #fefefe;
	border: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, .19);
	padding: 10px 0;
}

.navbar-brand{
	padding-right: 140px;
}
.navbar-brand img{
	position: relative;
	top: -48px;
}

.navbar-default .navbar-nav > li > a {
	color: #8d8c8c;
	font-size: 18px;
	/*text-transform: uppercase;*/
}

.navbar-nav > li > a:hover{
	border-bottom: 1px solid #ccc;
}

.menu .container{
position: relative;

}
.globe{
	font-size: 30px;
	line-height: 50px;
	position: absolute;
	right: 30px;
	cursor: pointer;
	color: #8d8c8c;
	display: none;


}
.slider{
height: 100px;

	padding: 0 50px;
}

@media only screen and (max-width : 992px) {
		.navbar-brand{
		padding: 20px;
		}
		.icons {
			display: none;
			position: absolute;
			right: 30px;
			top: 50px;
		 }

		 .globe{
			 display: block;
		 }
}
@media only screen and (max-width : 767px){
	.menu{
		padding: o;
	}
	.globe{
		display: none;
	}
}


@media only screen and (min-width : 993px) {
	 .icons{
		 display: block !important;
	 }
}
