body {


}



header {
	margin: 40px 0 50px ;
}

.menu {
	background: #fefefe;
	border: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, .19);
	padding: 10px 0;
}

.navbar-brand {
	padding-right: 150px;
}

.navbar-brand img {
	position: relative;
	top: -48px;
}

.navbar-default .navbar-nav > li > a {
	color: #8d8c8c;
	font-size: 20px;
	/*text-transform: uppercase;*/
}

.navbar-nav > li.active-link > a:hover {
	border-bottom: 2px solid #ccc;
}

.menu .container {
	position: relative;

}

.globe {
	font-size: 30px;
	line-height: 50px;
	position: absolute;
	right: 30px;
	cursor: pointer;
	color: #8d8c8c;
	display: none;
}

.slider {
	height: 100px;
}

@media only screen and (max-width : 1200px) {
		.navbar-brand{
			padding: 10px;
			padding-right: 70px;
		}
		.icons {
			display: block;
		}
		/*.carousel-inner > .item > img, .carousel-inner > .item > a > img{
		    display: block;
		    max-width: 1250px;
		    height: 550px !important;
		}*/
}

@media only screen and (max-width : 992px) {
	.navbar-brand {
		padding-right: 40px;
	}
	.navbar-brand img {
		position: relative;
		top: -35px;
		max-width: 300px;
		max-height: 100px;
		padding-right: 100px;
	}
	.icons {
		display: none;
		position: absolute;
		right: 30px;
		top: 50px;
	}
	.globe {
		 display: block;
	}
}

@media only screen and (max-width : 767px){
	.menu{
		padding: 0;
	}
	.navbar-brand img {
		top: -30px;
		max-height: 80px;
		max-width: 250px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 25px;
		padding-top: 20px;
    padding-bottom: 20px;
	}
	.navbar-nav > li.active-link > a:hover {
		border-bottom: 0;
		background: #e2e2e2;
	}
	.icons {
		display: block !important;
		position: relative;
		right: 0;
		top: 0;
	}
	.icons li {
		 display: inline-block;
	}
	.globe{
		display: none;
	}
}

@media only screen and (max-width : 320px) {
	.navbar-brand {
    padding-right: 0px;

	}
}

@media only screen and (min-width : 993px) {
	 .icons{
		 display: block !important;
	 }
}

.banner img {
	height: 50%;
	width: 100%;
}

}
.head {
	font-family: 'Gloria Hallelujah', cursive;
}

.block-main {
	padding: 45px 40px 35px;
	/*background-image: url(../images/background.jpeg);*/

	/*background-color: rgba(204, 201, 201, 0.75);*/
	background-color: rgba(243, 217, 235, 0.8);
	display: flex;
	align-items: center;
	border-radius: 54px;
}

.family-img img {
	width: 75%;
	height: 25%;
}




h1,p {
	font-family: 'Marck Script', cursive;

	margin-top: 0;
}
p{
	font-size: 22px;
	font-family: 'Pangolin', cursive;
}
h4 {
	/*text-align: center;*/
}
.row {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 50px;
 	background-color: #b5eae880;
}

.row img {
	border-radius: 30px;
}
.Oform {
	display: flex;
	flex-direction: column;
	/*width: 200px;*/
	justify-content: center;
	align-items: center;


}
.formaa {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.hi {
	margin: 0 20px 15px;
	padding: 10px;
	border: 3px solid #676B6B33;
	border-radius: 30px;
}



.order-button {
    margin-top: 20px;
    color: white;

    border-radius: 5px;
    background-color: #d75581;
    white-space: nowrap;
    font-size: 26px;
}
